:root {
/* --main-color: #8c52ff; */
--main-color: #3a86ff;
/*  --secondary-color: #c0a0ff; */
--secondary-color: #b0ceff;
  --background-color: #252934;
  --dark-color: #1b242f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

section {
  position: relative;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.section-title {
  margin: 0 auto;
  padding: 6rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-color);
}

.section-title .line {
  width: 5rem;
  height: 0.3rem;
  background-color: var(--background-color);
  margin: 0.5rem auto;
}

/* -------------------- Scroll bar -------------------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--dark-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

/* -------------------- Navbar -------------------- */
nav {
  width: 100%;
  background-color: var(--dark-color);
  text-transform: uppercase;
  height: 3rem;
  line-height: 3rem;
  border-bottom: solid var(--main-color) 4px;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

nav .navbar-container {
  width: 75%;
  max-width: 80rem;
  margin: 0 auto;
}

nav .navbar-container ul {
  float: left;
  list-style: none;
}

nav .navbar-container ul li {
  display: inline-block;
  padding: 0 1.5rem;
  cursor: pointer;
}

nav .navbar-container ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.3s;
}

nav .navbar-container ul li:hover a {
  color: var(--main-color);
}

nav .navbar-container ul li a.active {
  color: var(--main-color);
}

/* Class for the sticky navbar after scrolling - used in JavaScript */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 8;
  animation: navbar-animation 0.6s;
}

@keyframes navbar-animation {
  0% {
    top: -6rem;
    opacity: 50%;
  }
  100% {
    top: 0;
    opacity: 100%;
  }
}

/* -------------------- Home section -------------------- */
#particles-js {
  height: 100vh;
  background-color: var(--background-color);
}

#home-section .home-title {
  margin: auto;
  position: absolute;
  height: fit-content;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#home-section .home-title h1 {
  color: whitesmoke;
  font-size: 2.6rem;
  font-weight: 400;
  margin: 0.4rem;
}

#home-section .home-title h1 span {
  color: var(--main-color);
  font-size: 2.6rem;
  font-weight: 600;
}

#home-section .home-title button {
  color: whitesmoke;
  background-color: transparent;
  border: solid 2px whitesmoke;
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

#home-section .home-title button:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#home-section .home-title button div {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 0.6rem;
  transition: 0.3s;
  transform: rotate(0deg);
}

#home-section .home-title button:hover div {
  transition: 0.3s;
  transform: rotate(90deg);
}

/* -------------------- About section -------------------- */
#about-section {
  background-color: whitesmoke;
  padding-bottom: 4rem;
}

#about-section .column {
  float: left;
}

#about-section .column.about-text {
  width: 50%;
}

#about-section .column.about-text img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: solid var(--dark-color) 2px;
}

#about-section .column.about-text p {
  width: 65%;
  margin: 0 auto;
}

#about-section .column.about-skills {
  width: 50%;
}

#about-section .column.about-text h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem;
}

#about-section .column.about-skills .skill {
  width: 90%;
  height: 1.6rem;
  padding-right: 0.4rem;
  margin: 0.3rem auto;
  text-align: right;
  background-color: rgb(226, 225, 225);
  position: relative;
  transform: scale(1);
  transition: 0.4s;
}

#about-section .column.about-skills .skill:hover {
  transform: scale(1.04);
  transition: 0.4s;
}

#about-section .column.about-skills .skill .skill-name {
  width: 20%;
  height: 100%;
  padding-top: 0.2rem;
  text-align: center;
  font-weight: 600;
  color: whitesmoke;
  background-color: var(--main-color);
  position: absolute;
}

#about-section .column.about-skills .skill .skill-percent {
  width: 75%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 20%;
}
#about-section .column.about-skills .skill .skill-text {
  width: 5%;
  height: 100%;
  position: absolute;
  margin-right: 0.4rem;
  padding-top: 0.2rem;
  font-weight: 300;
  right: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#about-section .experience {
  margin: 4rem auto 1rem;
}

#about-section .experience .experience-item {
  display: inline-block;
  margin: 1rem;
  width: 16%;
  min-height: 340px;
  height: fit-content;
  background: rgba(248, 252, 253, 0.973);
  padding-top: 1.2rem;
  transition: 0.6s;
  position: relative;
  vertical-align: top;
}

#about-section .experience .experience-item:hover {
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

#about-section .experience .experience-item h4 {
  margin: 1rem auto;
}

#about-section .experience .experience-item p {
  position: relative;
  width: 80%;
  margin: 0 auto 1rem;
}

#about-section .experience .experience-item .image {
  width: 110px;
  height: 110px;
  color: whitesmoke;
  font-size: 3rem;
  padding-top: 2rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 0.3rem auto;
}

#about-section .experience .experience-item .image img {
  height: 60%;
}
/* -------------------- Portfolio section -------------------- */
#portfolio-section ul {
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

#portfolio-section ul li {
  list-style: none;
  padding: 0.4rem 1.2rem;
  margin: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

#portfolio-section ul li.active {
  transition: 0.3s;
  background: var(--main-color);
  color: whitesmoke;
}

#portfolio-section .social-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}

#portfolio-section .social-icon {
  display: inline-block;
  margin: 0;
  width: 26%;
  height: 18rem;
  background-color: var(--background-color);
  color: whitesmoke;
  font-size: 2rem;
  padding-top: 1.2rem;
  transition: 0.6s;
  position: relative;
  cursor: auto;
}

#portfolio-section .social-icon > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#portfolio-section .social-icon .top {
  position: absolute;
  top: 0;
  background-color: whitesmoke;
  height: 50%;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  color: #1b242f;
  opacity: 0;
  transition: 0.4s;
  padding-top: 3rem;
}

#portfolio-section .social-icon .top h4 {
  font-size: 1.8rem;
  margin: 0.4rem;
}
#portfolio-section .social-icon .top p {
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 500;
}

#portfolio-section .social-icon .bottom {
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  color: #1b242f;
  opacity: 0;
  transition: 0.4s;
}

#portfolio-section .social-icon .bottom button {
  background-color: transparent;
  border: solid 2px var(--main-color);
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 100;
  padding: 0.6rem 1.2rem;
  margin-top: 2rem;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

#portfolio-section .social-icon .bottom button:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: whitesmoke;
}

#portfolio-section .social-icon:hover .top,
#portfolio-section .social-icon:hover .bottom {
  visibility: visible;
  transform: scaleY(1);
  opacity: 100%;
  transition: 0.4s;
}

/* --- Popup --- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: whitesmoke;
  margin: 0% auto;
  padding: 0px;
  text-align: left;
  color: #000;
  border: 1px solid var(--dark-color);
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  width: 45%;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  right: 1rem;
  bottom: 0.4rem;
  font-size: 3rem;
  font-weight: 300;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

/* --- Popup content --- */
.not-image-gallery {
  margin: 20px;
}

.modal-content h5 {
  color: #444444;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.4rem auto;
}

.modal-content h6 {
  color: #adadad;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.4rem auto 0.6rem;
}

.modal-content hr {
  border: none;
  border-top: solid 1px #cfcfcf;
}

.modal-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.6rem auto;
}

.modal-content button {
  background-color: var(--main-color);
  border: solid 2px var(--main-color);
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 100;
  padding: 0.6rem 1.2rem;
  margin-top: 2rem;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}
.modal-content button i {
  margin-right: 0.2rem;
}
.modal-content button:hover {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--dark-color);
}

/* --- Photo gallery --- */
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Hide the images by default */
.mySlides,
.mySlides2 {
  display: none;
}

.mySlides img,
.mySlides2 img {
  border-bottom: solid var(--dark-color) 4px;
  max-height: 350px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* -------------------- Contact section -------------------- */
.contact-top {
  background-color: var(--background-color);
  padding-bottom: 6rem;
}

.triangle-down-left {
  float: left;
  width: 50%;
  height: 60px;
  background: linear-gradient(
    to bottom left,
    #fff 0%,
    #fff 50%,
    var(--background-color) 50%,
    var(--background-color) 100%
  );
}

.triangle-down-right {
  float: left;
  width: 50%;
  height: 60px;
  background: linear-gradient(
    to bottom right,
    #fff 0%,
    #fff 50%,
    var(--background-color) 50%,
    var(--background-color) 100%
  );
}

#contact-section .section-title {
  color: whitesmoke;
}

#contact-section .section-title .line {
  background-color: whitesmoke;
}

#contact-section h3 {
  color: var(--main-color);
  font-weight: 500;
}

#contact-section form {
  width: 50%;
  max-width: 35rem;
  margin: 3rem auto;
}

#contact-section form input,
textarea {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: whitesmoke;
  width: 100%;
  margin-bottom: 0.2rem;
  background-color: var(--dark-color);
  border: none;
  resize: none;
}

#contact-section form input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

#contact-section form input::placeholder,
textarea::placeholder {
  color: whitesmoke;
}

#contact-section form button {
  color: whitesmoke;
  background-color: transparent;
  border: solid 2px whitesmoke;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1.6rem;
  padding: 0.6rem 1.2rem;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

#contact-section form button:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#contact-section form button div {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 0.6rem;
  transition: 0.3s;
  transform: scale(1) rotate(0deg);
}

#contact-section form button:hover div {
  transition: 0.3s;
  transform: scale(1.1) rotate(20deg);
}

#contact-section h2 {
  color: whitesmoke;
  font-weight: 200;
  font-size: 1.3rem;
  padding: 0.6rem;
}

.contact-bot {
  background-color: var(--dark-color);
  padding-bottom: 2rem;
  padding-top: 4rem;
  position: relative;
}

.arrow-up {
  position: absolute;
  left: 0;
  right: 0;
  top: -37px;
  margin: auto;
  width: 75px;
  height: 75px;
  background-color: var(--main-color);
  color: whitesmoke;
  font-size: 2rem;
  padding-top: 1.2rem;
  cursor: pointer;
}

.arrow-up i {
  position: relative;
}

.arrow-up:hover {
  opacity: 85%;
}

.arrow-up:hover i {
  animation: arrow-jump 2s infinite;
}

@keyframes arrow-jump {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 0.7rem;
  }
  50% {
    bottom: 0;
  }
  75% {
    bottom: 0.7rem;
  }
  100% {
    bottom: 0;
  }
}

.social-icon {
  display: inline-block;
  margin: 2rem;
  width: 75px;
  height: 75px;
  background-color: var(--background-color);
  color: whitesmoke;
  font-size: 2rem;
  padding-top: 1.2rem;
  transition: 0.6s;
  cursor: pointer;
}

.social-icon:hover {
  background-color: var(--main-color);
}

.copyright {
  margin: 2rem auto 1rem;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 100;
}
